<%- include partials/header.ejs %>

<body>
    
    <%- include partials/navbar.ejs %>
    <div class="container">
        <br>
        <hr>
        <img src="/img/qrcode.png" alt="qrcode">
        <script>
            window.onload=function atualiza(){
                location.reload();
            }
        </script>
        
    </div>
    
</body>